// MARGINS ALL
  .mrg--50 {
  	margin: -50px;
  }
  .mrg--40 {
  	margin: -40px;
  }
  .mrg--30 {
  	margin: -30px;
  }
  .mrg--20 {
  	margin: -20px;
  }
  .mrg--10 {
  	margin: -10px;
  }
  .mrg-0 {
  	margin: 0;
  }
  .mrg-10 {
  	margin: 10px;
  }
  .mrg-20 {
  	margin: 20px;
  }
  .mrg-30 {
  	margin: 30px;
  }
  .mrg-40 {
  	margin: 40px;
  }
  .mrg-50 {
  	margin: 50px;
  }
  // MARGINS TOP
    .mrg-top--50 {
  	margin-top: -50px;
  }
  .mrg-top--40 {
  	margin-top: -40px;
  }
  .mrg-top--30 {
  	margin-top: -30px;
  }
  .mrg-top--20 {
  	margin-top: -20px;
  }
  .mrg-top--10 {
  	margin-top: -10px;
  }
  .mrg-top--5 {
  	margin-top: -5px;
  }
  .mrg-top-0 {
  	margin-top: 0;
  }
  .mrg-top-10 {
  	margin-top: 10px;
  }
  .mrg-top-20 {
  	margin-top: 20px;
  }
  .mrg-top-30 {
  	margin-top: 30px;
  }
  .mrg-top-40 {
  	margin-top: 40px;
  }
  .mrg-top-50 {
  	margin-top: 50px;
  }
  .mrg-top-150 {
  	margin-top: 150px;
  }

  // MARGINS RIGHT
  .mrg-rgt--50 {
  	margin-right: -50px;
  }
  .mrg-rgt--40 {
  	margin-right: -40px;
  }
  .mrg-rgt--30 {
  	margin-right: -30px;
  }
  .mrg-rgt--20 {
  	margin-right: -20px;
  }
  .mrg-rgt--10 {
  	margin-right: -10px;
  }
  .mrg-rgt-0 {
  	margin-right: 0;
  }
  .mrg-rgt-10 {
  	margin-right: 10px;
  }
  .mrg-rgt-20 {
  	margin-right: 20px;
  }
  .mrg-rgt-30 {
  	margin-right: 30px;
  }
  .mrg-rgt-40 {
  	margin-right: 40px;
  }
  .mrg-rgt-50 {
  	margin-right: 50px;
  }

  // MARGINS BOTTOM
  .mrg-btm--50 {
  	margin-bottom: -50px;
  }
  .mrg-btm--40 {
  	margin-bottom: -40px;
  }
  .mrg-btm--30 {
	margin-bottom: -30px;
  }
  .mrg-btm--20 {
	margin-bottom: -20px;
  }
  .mrg-btm--15 {
    margin-bottom: -15px;
  }
  .mrg-btm--10 {
  	margin-bottom: -10px;
  }
  .mrg-btm--5 {
  	margin-bottom: -5px;
  }
  .mrg-btm-0 {
  	margin-bottom: 0;
  }
  .mrg-btm-10 {
  	margin-bottom: 10px;
  }
  .mrg-btm-20 {
  	margin-bottom: 20px;
  }
  .mrg-btm-30 {
  	margin-bottom: 30px;
  }
  .mrg-btm-40 {
  	margin-bottom: 40px;
  }
  .mrg-btm-50 {
  	margin-bottom: 50px;
  }

  // MARGINS LEFT
  .mrg-left--50 {
  	margin-left: -50px;
  }
  .mrg-left--40 {
  	margin-left: -40px;
  }
  .mrg-left--30 {
	margin-left: -30px;
  }
  .mrg-left--20 {
	margin-left: -20px;
  }
  .mrg-left--10 {
  	margin-left: -10px;
  }
  .mrg-left-0 {
  	margin-left: 0;
  }
  .mrg-left-5 {
  	margin-left: 5px;
  }
  .mrg-left-10 {
  	margin-left: 10px;
  }
  .mrg-left-20 {
  	margin-left: 20px;
  }
  .mrg-left-30 {
  	margin-left: 30px;
  }
  .mrg-left-40 {
  	margin-left: 40px;
  }
  .mrg-left-50 {
  	margin-left: 50px;
  }
  .mrg-left-100 {
  	margin-left: 100px;
  }
  