// PADDINGS ALL
  .pdg--50 {
  	padding: -50px;
  }
  .pdg--40 {
  	padding: -40px;
  }
  .pdg--30 {
  	padding: -30px;
  }
  .pdg--20 {
  	padding: -20px;
  }
  .pdg--10 {
  	padding: -10px;
  }
  .pdg-0 {
  	padding: 0;
  }
  .pdg-10 {
  	padding: 10px;
  }
  .pdg-20 {
  	padding: 20px;
  }
  .pdg-30 {
  	padding: 30px;
  }
  .pdg-40 {
  	padding: 40px;
  }
  .pdg-50 {
  	padding: 50px;
  }
  // PADDINGS TOP
  .pdg-top--50 {
  	padding-top: -50px;
  }
  .pdg-top--40 {
  	padding-top: -40px;
  }
  .pdg-top--30 {
  	padding-top: -30px;
  }
  .pdg-top--20 {
  	padding-top: -20px;
  }
  .pdg-top--10 {
  	padding-top: -10px;
  }
  .pdg-top-0 {
  	padding-top: 0;
  }
  .pdg-top-10 {
  	padding-top: 10px;
  }
  .pdg-top-20 {
  	padding-top: 20px;
  }
  .pdg-top-30 {
  	padding-top: 30px;
  }
  .pdg-top-40 {
  	padding-top: 40px;
  }
  .pdg-top-50 {
  	padding-top: 50px;
  }

  // PADDINGS RIGHT
  .pdg-rgt--50 {
  	padding-right: -50px;
  }
  .pdg-rgt--40 {
  	padding-right: -40px;
  }
  .pdg-rgt--30 {
  	padding-right: -30px;
  }
  .pdg-rgt--20 {
  	padding-right: -20px;
  }
  .pdg-rgt--10 {
  	padding-right: -10px;
  }
  .pdg-rgt-0 {
  	padding-right: 0;
  }
  .pdg-rgt-10 {
  	padding-right: 10px;
  }
  .pdg-rgt-20 {
  	padding-right: 20px;
  }
  .pdg-rgt-30 {
  	padding-right: 30px;
  }
  .pdg-rgt-40 {
  	padding-right: 40px;
  }
  .pdg-rgt-50 {
  	padding-right: 50px;
  }

  // PADDINGS BOTTOM
  .pdg-btm--50 {
  	padding-bottom: -50px;
  }
  .pdg-btm--40 {
  	padding-bottom: -40px;
  }
  .pdg-btm--30 {
	padding-bottom: -30px;
  }
  .pdg-btm--20 {
	padding-bottom: -20px;
  }
  .pdg-btm--10 {
  	padding-bottom: -10px;
  }
  .pdg-btm-0 {
  	padding-bottom: 0;
  }
  .pdg-btm-10 {
  	padding-bottom: 10px;
  }
  .pdg-btm-20 {
  	padding-bottom: 20px;
  }
  .pdg-btm-30 {
  	padding-bottom: 30px;
  }
  .pdg-btm-40 {
  	padding-bottom: 40px;
  }
  .pdg-btm-50 {
  	padding-bottom: 50px;
  }

  // PADDINGS LEFT
  .pdg-left--50 {
  	padding-left: -50px;
  }
  .pdg-left--40 {
  	padding-left: -40px;
  }
  .pdg-left--30 {
	padding-left: -30px;
  }
  .pdg-left--20 {
	padding-left: -20px;
  }
  .pdg-left--10 {
  	padding-left: -10px;
  }
  .pdg-left-0 {
  	padding-left: 0;
  }
  .pdg-left-10 {
  	padding-left: 10px;
  }
  .pdg-left-20 {
  	padding-left: 20px;
  }
  .pdg-left-30 {
  	padding-left: 30px;
  }
  .pdg-left-40 {
  	padding-left: 40px;
  }
  .pdg-left-50 {
  	padding-left: 50px;
  }

.pad-1 { padding: .5em; }
.pad-1-left { padding-left: .5em; }
.pad-1-right { padding-right: .5em; }
.pad-1-top { padding-top: .5em; }
.pad-1-bottom { padding-bottom: .5em; }
.pad-1-sides { padding-left: .5em; padding-right: .5em; }
.pad-1-vert { padding-top: .5em; padding-bottom: .5em; }
.pad-2 { padding: 1em; }
.pad-2-left { padding-left: 1em; }
.pad-2-sides { padding-left: 1em; padding-right: 1em; }
